@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rancid Tomatillos</h1>
    <h2>@Model.ReviewsExist</h2>
    <h2>Movies</h2>
</div>
